<a href="https://colab.research.google.com/github/tvelichkovt/TensorFlow/blob/master/4_TensorFlow_%3E_tf_keras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
from __future__ import absolute_import, division, print_function, unicode_literals

try:
    %tensorflow_version 2.x
except Exception:
  pass

import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

print(tf.__version__, keras.__version__)

2.1.0 2.2.4-tf

In [10]:
# Download the csv file containing the heart dataset

csv_file = tf.keras.utils.get_file('heart.csv', 'https://storage.googleapis.com/applied-dl/heart.csv')
df = pd.read_csv(csv_file)
df.head()
df.describe()

              age         sex          cp  ...       slope          ca      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.594059    0.676568    3.108911  ...    1.590759    0.683168    0.273927
std      9.016370    0.468560    1.028414  ...    0.617767    0.937773    0.446710
min     29.000000    0.000000    0.000000  ...    1.000000    0.000000    0.000000
25%     48.000000    0.000000    2.000000  ...    1.000000    0.000000    0.000000
50%     56.000000    1.000000    3.000000  ...    2.000000    0.000000    0.000000
75%     61.000000    1.000000    4.000000  ...    2.000000    1.000000    1.000000
max     77.000000    1.000000    4.000000  ...    3.000000    3.000000    1.000000

[8 rows x 13 columns]

In [13]:
#https://www.tensorflow.org/tutorials/load_data/pandas_dataframe

dataset = tf.data.Dataset.from_tensor_slices((df.values, target.values))

train_dataset = dataset.shuffle(len(df)).batch(1)

NameError: ignored