<a href="https://colab.research.google.com/github/tvelichkovt/TensorFlow/blob/master/TF_022_KerasPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tf -> "import"

In [2]:
from __future__ import absolute_import, division, print_function, unicode_literals

try:
    %tensorflow_version 2.x
except Exception:
  pass

import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

print('TensorFlow ver is:', tf.__version__, '\nKeras ver is:', keras.__version__, '\nPandas ver is:', pd.__version__, '\nNumpy ver is:', np.__version__)

TensorFlow ver is: 2.2.0
Keras ver is: 2.3.0-tf
Pandas ver is: 1.0.5
Numpy ver is: 1.18.5

# tf -> "heart dataset"

In [3]:
csv_file = tf.keras.utils.get_file('heart.csv', 'https://storage.googleapis.com/applied-dl/heart.csv')
df = pd.read_csv(csv_file)
df.head()

Downloading data from https://storage.googleapis.com/applied-dl/heart.csv
16384/13273 [=====================================] - 0s 0us/step

   age  sex  cp  trestbps  chol  ...  oldpeak  slope  ca        thal  target
0   63    1   1       145   233  ...      2.3      3   0       fixed       0
1   67    1   4       160   286  ...      1.5      2   3      normal       1
2   67    1   4       120   229  ...      2.6      2   2  reversible       0
3   37    1   3       130   250  ...      3.5      3   0      normal       0
4   41    0   2       130   204  ...      1.4      1   0      normal       0

[5 rows x 14 columns]

In [4]:
df.head()

   age  sex  cp  trestbps  chol  ...  oldpeak  slope  ca        thal  target
0   63    1   1       145   233  ...      2.3      3   0       fixed       0
1   67    1   4       160   286  ...      1.5      2   3      normal       1
2   67    1   4       120   229  ...      2.6      2   2  reversible       0
3   37    1   3       130   250  ...      3.5      3   0      normal       0
4   41    0   2       130   204  ...      1.4      1   0      normal       0

[5 rows x 14 columns]

In [5]:
print('diagnosed ==', df.query("target == '1'")["target"].count())

diagnosed == 83

# tf -> "thal is object"

In [6]:
df.dtypes #thal is object
df.thal = df.thal.astype('category').cat.codes

for i in df.columns:
        df[i]=df[i].astype(float)
df.dtypes

age         float64
sex         float64
cp          float64
trestbps    float64
chol        float64
fbs         float64
restecg     float64
thalach     float64
exang       float64
oldpeak     float64
slope       float64
ca          float64
thal        float64
target      float64
dtype: object

# tf -> "Convert thal column which is an object in the dataframe to a discrete numerical value"

In [7]:
#df['thal'] = pd.Categorical(df['thal'])
#df['thal'] = df.thal.cat.codes

# tf -> "tf.data.Dataset.from_tensor_slices"

In [8]:
target = df.pop('target')
dataset = tf.data.Dataset.from_tensor_slices((df.values, target.values))
for feat, targ in dataset.take(5):
  print ('Features: {}, Target: {}'.format(feat, targ))

Features: [ 63.    1.    1.  145.  233.    1.    2.  150.    0.    2.3   3.    0.
   2. ], Target: 0.0
Features: [ 67.    1.    4.  160.  286.    0.    2.  108.    1.    1.5   2.    3.
   3. ], Target: 1.0
Features: [ 67.    1.    4.  120.  229.    0.    2.  129.    1.    2.6   2.    2.
   4. ], Target: 0.0
Features: [ 37.    1.    3.  130.  250.    0.    0.  187.    0.    3.5   3.    0.
   3. ], Target: 0.0
Features: [ 41.    0.    2.  130.  204.    0.    2.  172.    0.    1.4   1.    0.
   3. ], Target: 0.0

# tf -> "Since a pd.Series implements the array protocol it can be used transparently nearly anywhere you would use a np.array or a tf.Tensor"

In [9]:
tf.constant(df['thal'])

<tf.Tensor: shape=(303,), dtype=float64, numpy=
array([2., 3., 4., 3., 3., 3., 3., 3., 4., 4., 2., 3., 2., 4., 4., 3., 4.,
       3., 3., 3., 3., 3., 3., 4., 4., 3., 3., 3., 3., 4., 3., 4., 3., 4.,
       3., 3., 4., 2., 4., 3., 4., 3., 4., 4., 2., 3., 3., 4., 3., 3., 4.,
       3., 3., 3., 4., 3., 3., 3., 3., 3., 3., 4., 4., 3., 3., 4., 4., 2.,
       3., 3., 4., 3., 4., 3., 3., 4., 4., 3., 3., 4., 4., 3., 3., 3., 3.,
       4., 4., 4., 3., 3., 4., 3., 4., 4., 3., 4., 3., 3., 3., 4., 3., 4.,
       4., 3., 3., 4., 4., 4., 4., 4., 3., 3., 3., 3., 4., 3., 4., 3., 4.,
       4., 3., 3., 2., 4., 4., 2., 3., 3., 4., 4., 3., 4., 3., 3., 4., 2.,
       4., 4., 3., 4., 3., 3., 3., 3., 3., 3., 3., 3., 3., 4., 4., 4., 4.,
       4., 4., 3., 3., 3., 4., 3., 4., 3., 4., 3., 3., 3., 3., 3., 3., 3.,
       4., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 3., 4., 4., 3., 3.,
       3., 3., 3., 3., 3., 3., 4., 3., 4., 3., 2., 4., 4., 3., 3., 3., 3.,
       3., 3., 4., 3., 3., 3., 3., 3., 2., 2., 4., 3., 4., 2., 4., 3., 3.,
       4., 3., 3., 3., 3., 4., 3., 4., 3., 4., 2., 2., 4., 3., 4., 3., 2.,
       4., 3., 3., 2., 4., 4., 4., 4., 3., 0., 3., 3., 3., 3., 1., 4., 3.,
       3., 3., 4., 3., 4., 3., 3., 3., 4., 3., 3., 4., 4., 4., 4., 3., 3.,
       4., 3., 4., 3., 4., 4., 3., 4., 4., 3., 4., 4., 3., 3., 3., 3., 3.,
       3., 4., 4., 4., 4., 4., 4., 4., 3., 2., 4., 4., 4., 4.])>

# tf -> "Shuffle and batch the dataset"

In [10]:
train_dataset = dataset.shuffle(len(df)).batch(1)

# tf -> "Create and train a model"

In [11]:
def get_compiled_model():
  model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(1)
  ])

  model.compile(optimizer='adam',
                loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
                metrics=['accuracy'])
  return model


model = get_compiled_model()
model.fit(train_dataset, epochs=15)

Epoch 1/15
WARNING:tensorflow:Layer dense is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

303/303 [==============================] - 0s 1ms/step - loss: 26.8334 - accuracy: 0.3399
Epoch 2/15
303/303 [==============================] - 0s 1ms/step - loss: 0.7835 - accuracy: 0.7096
Epoch 3/15
303/303 [==============================] - 0s 1ms/step - loss: 0.6682 - accuracy: 0.7195
Epoch 4/15
303/303 [==============================] - 0s 1ms/step - loss: 0.6106 - accuracy: 0.7261
Epoch 5/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5940 - accuracy: 0.7228
Epoch 6/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5960 - accuracy: 0.7228
Epoch 7/15
303/303 [==============================] - 0s 1ms/step - loss: 0.6049 - accuracy: 0.7228
Epoch 8/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5768 - accuracy: 0.7261
Epoch 9/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5660 - accuracy: 0.7261
Epoch 10/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5540 - accuracy: 0.7294
Epoch 11/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5455 - accuracy: 0.7261
Epoch 12/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5281 - accuracy: 0.7261
Epoch 13/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5346 - accuracy: 0.7393
Epoch 14/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5125 - accuracy: 0.7294
Epoch 15/15
303/303 [==============================] - 0s 1ms/step - loss: 0.5015 - accuracy: 0.7327

# tf -> "Alternative to feature columns"

In [12]:
inputs = {key: tf.keras.layers.Input(shape=(), name=key) for key in df.keys()}
x = tf.stack(list(inputs.values()), axis=-1)

x = tf.keras.layers.Dense(10, activation='relu')(x)
output = tf.keras.layers.Dense(1)(x)

model_func = tf.keras.Model(inputs=inputs, outputs=output)

model_func.compile(optimizer='adam',
                   loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
                   metrics=['accuracy'])

# tf -> "The easiest way to preserve the column structure of a pd.DataFrame when used with tf.data is to convert the pd.DataFrame to a dict, and slice that dictionary"

In [13]:
dict_slices = tf.data.Dataset.from_tensor_slices((df.to_dict('list'), target.values)).batch(16)

for dict_slice in dict_slices.take(1):
  print (dict_slice)

model_func.fit(dict_slices, epochs=15)

# www https://www.tensorflow.org/tutorials/load_data/pandas_dataframe

({'age': <tf.Tensor: shape=(16,), dtype=float32, numpy=
array([63., 67., 67., 37., 41., 56., 62., 57., 63., 53., 57., 56., 56.,
       44., 52., 57.], dtype=float32)>, 'sex': <tf.Tensor: shape=(16,), dtype=float32, numpy=
array([1., 1., 1., 1., 0., 1., 0., 0., 1., 1., 1., 0., 1., 1., 1., 1.],
      dtype=float32)>, 'cp': <tf.Tensor: shape=(16,), dtype=float32, numpy=
array([1., 4., 4., 3., 2., 2., 4., 4., 4., 4., 4., 2., 3., 2., 3., 3.],
      dtype=float32)>, 'trestbps': <tf.Tensor: shape=(16,), dtype=float32, numpy=
array([145., 160., 120., 130., 130., 120., 140., 120., 130., 140., 140.,
       140., 130., 120., 172., 150.], dtype=float32)>, 'chol': <tf.Tensor: shape=(16,), dtype=float32, numpy=
array([233., 286., 229., 250., 204., 236., 268., 354., 254., 203., 192.,
       294., 256., 263., 199., 168.], dtype=float32)>, 'fbs': <tf.Tensor: shape=(16,), dtype=float32, numpy=
array([1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0.],
      dtype=float32)>, 'restecg': <tf.Tensor: shape=(16,), dtype=float32, numpy=
array([2., 2., 2., 0., 2., 0., 2., 0., 2., 2., 0., 2., 2., 0., 0., 0.],
      dtype=float32)>, 'thalach': <tf.Tensor: shape=(16,), dtype=float32, numpy=
array([150., 108., 129., 187., 172., 178., 160., 163., 147., 155., 148.,
       153., 142., 173., 162., 174.], dtype=float32)>, 'exang': <tf.Tensor: shape=(16,), dtype=float32, numpy=
array([0., 1., 1., 0., 0., 0., 0., 1., 0., 1., 0., 0., 1., 0., 0., 0.],
      dtype=float32)>, 'oldpeak': <tf.Tensor: shape=(16,), dtype=float32, numpy=
array([2.3, 1.5, 2.6, 3.5, 1.4, 0.8, 3.6, 0.6, 1.4, 3.1, 0.4, 1.3, 0.6,
       0. , 0.5, 1.6], dtype=float32)>, 'slope': <tf.Tensor: shape=(16,), dtype=float32, numpy=
array([3., 2., 2., 3., 1., 1., 3., 1., 2., 3., 2., 2., 2., 1., 1., 1.],
      dtype=float32)>, 'ca': <tf.Tensor: shape=(16,), dtype=float32, numpy=
array([0., 3., 2., 0., 0., 0., 2., 0., 1., 0., 0., 0., 1., 0., 0., 0.],
      dtype=float32)>, 'thal': <tf.Tensor: shape=(16,), dtype=float32, numpy=
array([2., 3., 4., 3., 3., 3., 3., 3., 4., 4., 2., 3., 2., 4., 4., 3.],
      dtype=float32)>}, <tf.Tensor: shape=(16,), dtype=float64, numpy=array([0., 1., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0.])>)
Epoch 1/15
19/19 [==============================] - 0s 2ms/step - loss: 6.4575 - accuracy: 0.7327
Epoch 2/15
19/19 [==============================] - 0s 1ms/step - loss: 4.1210 - accuracy: 0.6766
Epoch 3/15
19/19 [==============================] - 0s 1ms/step - loss: 3.8151 - accuracy: 0.7030
Epoch 4/15
19/19 [==============================] - 0s 1ms/step - loss: 3.6722 - accuracy: 0.7063
Epoch 5/15
19/19 [==============================] - 0s 1ms/step - loss: 3.5676 - accuracy: 0.7030
Epoch 6/15
19/19 [==============================] - 0s 2ms/step - loss: 3.4512 - accuracy: 0.7096
Epoch 7/15
19/19 [==============================] - 0s 2ms/step - loss: 3.3423 - accuracy: 0.7129
Epoch 8/15
19/19 [==============================] - 0s 2ms/step - loss: 3.2361 - accuracy: 0.7096
Epoch 9/15
19/19 [==============================] - 0s 2ms/step - loss: 3.1336 - accuracy: 0.7096
Epoch 10/15
19/19 [==============================] - 0s 2ms/step - loss: 3.0355 - accuracy: 0.7129
Epoch 11/15
19/19 [==============================] - 0s 2ms/step - loss: 2.9418 - accuracy: 0.7162
Epoch 12/15
19/19 [==============================] - 0s 2ms/step - loss: 2.8526 - accuracy: 0.7063
Epoch 13/15
19/19 [==============================] - 0s 2ms/step - loss: 2.7678 - accuracy: 0.7030
Epoch 14/15
19/19 [==============================] - 0s 2ms/step - loss: 2.6870 - accuracy: 0.7063
Epoch 15/15
19/19 [==============================] - 0s 2ms/step - loss: 2.6098 - accuracy: 0.7129